{% extends 'base.html' %}
{% block content %}

<h1>Feed</h1>

<div class="feed-container">
  <div class="card-container">
    {% for post in posts %}
    <div class="card">
      <div class="card-content">
        <span>
          <p> <span class="bold">Name: </span> {{ post.name }}</p>
          <p> <span class="bold"> Details:</span> {{ post.comment }}</p>
          <p> <span class="bold"> Brand:</span> {{ post.brand }}</p>
          <p> <span class="bold"> URL: </span>{{ post.url }}</p>
          <p> <span class="bold"> Image URL:</span> {{ post.image }}</p>
        </span>
      </div>
      <div>
        <a href="{% url 'post_detail' post.id %}">View All Dupes!</a>
        <a href="{% url 'comment' post.id %}">Add a Dupe!</a>
      </div>
      <div>
        {% if user == post.user %}
        <a href="{% url 'post_update' post.id %}">Update</a>
        <a href="{% url 'post_delete' post.id %}">Delete</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}