{% extends 'base.html' %}
{% block content %}

<div class="feed-container">
  <div class="feed-img">
  <img src="https://i.imgur.com/C76fnDu.png">
  </div>
  <div class="card-container">
    {% for post in posts %}
    <div class="card">
      <div class="card-content">
          <p> <span class="bold"> User Name: </span> {{ post.user }}</p>
          <p> <span class="bold"> Product Name: </span> {{ post.product_name }}</p>
          <p> <span class="bold"> Details: </span> {{ post.comment }}</p>
          <p> <span class="bold"> Brand: </span> {{ post.brand }}</p>
          <p> <span class="bold"> Price: USD </span> {{ post.price }}</p>
          <p> <span class="bold"> </span> <img src="{{ post.image_url }}" width="220px" height="220px" ></p>
          <p> <span class="bold"> </span><a href="{{ post.product_url }}" target="_blank">Click here to view the product</a></p>
      </div>
      <div class="links">
        <a href="{% url 'post_detail' post.id %}">ALL DUPES</a> &nbsp;|&nbsp;
        <a href="{% url 'comment' post.id %}">ADD A DUPE</a>
        {% if user == post.user %}&nbsp;|&nbsp;
        <a href="{% url 'post_update' post.id %}">UPDATE</a>&nbsp;|&nbsp;
        <a href="{% url 'post_delete' post.id %}">DELETE</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}