{% extends 'base.html' %}
{% block content %}


  <div class="feed-container">
    
  <div class="feed-img">
    <img src="{{ post.image_url }}"><br/>
  </div>
  <div class="card-container">
    {% if post.entry.all %}
    {% for comment in post.entry.all %}
    <div class="card">
      <div class="card-content">
      <p> <span class="bold"> User Name: </span> {{ post.user }}</p>
      <p> <span class="bold">Product Name:</span> {{ comment.product_name }}</p>
      <p> <span class="bold">Details:</span> {{ comment.comment }}</p>
      <p> <span class="bold">Brand:</span> {{ comment.brand }}</p>
      <p> <span class="bold"> Price: $</span> {{ comment.price }}USD</p>
      <div class="urls">
      <p> <span class="bold"></span> <img src="{{ comment.image_url }}" width="220px" height="220px" ></p>
      <p> <span class="bold"></span> <a href="{{ comment.product_url }}" target="_blank">Click here to view the dupe</a></p>
      </div>
    </div>
    <div class="links">
    {% if user == comment.user %}
    <form action="{% url 'comment_delete' comment.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn">Delete</button>
    </form>
    {% endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
      <p class="nodupe">No dupes yet..</p>
      <a href="{% url 'comment' post.id %}" class="dupebutton">Add a Dupe</a>
    {% endif %}
</div>

{% endblock %}