{% extends 'base.html' %}

{% block content %}

<div class="feed-container">
  <div class="card-container flex">
    <div class="card flex">
      <div class="card-content flex">
  <h1 class="delete_post">Delete Post</h1>

  <h4>Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete" class="btn">
    <a href="{% url 'post_detail' post.id %}">Cancel</a>
  </form>
     </div> 
    </div>
  </div> 
</div>

{% endblock %}
