{% extends 'base.html' %}
{% block body_class %}about{% endblock %}
{% block content %}

<h1 class="about-title">SAVE OR SPLURGE?</h1>
<p class="about-p">At Inspire Me Home Decor, we believe in the power of community-driven <br>
    inspiration for creating stunning home interiors without breaking the bank. <br>
    Our platform serves as a collaborative space where users passionate about home <br>
    decor come together to share and discover budget-friendly alternatives.</p>

<p class="about-bottom">Discover Budget-Friendly Alternatives | Engage with the Community | <br>
    Contribute | Be Inspired</p>

{% endblock %}