{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Inspire Me</title>
</head>
<body class="{{ bg }}"> 

  <header>
    <h1>&nbsp; &nbsp;INSPIRE ME HOME DECOR</h1>
    <nav class="navbar">
      <ul>
        <li><a href="{% url 'home' %}">HOME</a></li>
        <li><a href="{% url 'about' %}">ABOUT</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'index' %}">FEED</a></li>
        <li><a href="{% url 'post_create' %}">NEW POST</a></li>
        <li><a href="">MY PROFILE</a></li>
      </ul>
      <div class="register">
        <a href="{% url 'logout' %}">
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="submit-link">LOG OUT</button>
          </form>
        </a>
        {% else %}
          <a href="{% url 'signup' %}">SIGN UP</a>
          <a href="{% url 'login' %}">LOG IN</a>
        {% endif %}
      </div>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>Copyright &copy; 2024 | All Right Reserved</p>
  </footer>
</body>
</html>
